html{
	overflow-x: hidden;
}


body{
	margin:0px 0px; 
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
	background: url(../img/header3.png) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #272727;
}

/*
@media only screen and (min-width: 992px) {
	html { 
		background: url(img/header.gif) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

@media only screen and (max-width: 991px) {
	html { 
		background: url(img/header.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
*/

video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url('../img/header3.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: 1s opacity;
	transition: 1s opacity;
}

/* This used to work for parent element of button divs */

/* Old shadow dom for play button */

#bgvid::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

#bgvid::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

#bgvid::-webkit-media-controls-start-playback-button {
  display: none !important;
}


.stopfade { 
   opacity: 0;
}

/* HEADER */
#header-container{
  background-size:cover;
  position:relative;
}

.header{
	position:absolute;
	top:50%;
	width:100%;
	color:#fff;
	font-size: 2em;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Safari */
	transform: translate(0,-50%);  

}

.header-text{
	border-left: 5px dotted white;
	border-right: 5px dotted white;
}


@media only screen and (min-width: 991px) {
    #header-content h1{
        font-size: 2em;
    }
}
@media only screen and (max-width: 990px) {
    #header-content h1{
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 649px) {
    #header-content h1{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 540px) {
    #header-content h1{
        font-size: 1.17em;
    }
}

@media only screen and (max-width: 350px) {
    #header-content h1{
        font-size: 1em;
    }
}

@media only screen and (max-width: 300px) {
    #header-content h1{
        font-size: .83em;
    }
}

@media only screen and (max-width: 250px) {
    #header-content h1{
        font-size: .67em;
    }
}

@media only screen and (max-width: 200px) {
    #header-content h1{
        font-size: .5em;
    }
}

/*CONTENT */
.spinner-white{
	border-color: #fff;
	border: 10px solid #fff;
}

.justify-text{
	text-align: justify;
	text-justify: kashida;
}

.rounded-btn{
	border: 1px solid;
    border-radius: 20px;
}

.rounded-btn:hover{
	background-color: #272727 !important;
	color: #fff !important; 
	border-radius: 5px;
	transition: 1s all ease-in-out;
}

.tesst{
	background-color: red;
	letter-spacing: 20px;
}

.BebasBold{
  font-family: 'Bebas Bold';
  letter-spacing: 4px;
}

.BebasThin{
  font-family: 'Bebas Thin';
  letter-spacing: 2px;
}

@font-face {
	font-family: 'Bebas Bold';
	src: url('fonts/BebasNeue Bold.otf') format('opentype'); /* IE9 Compat Modes */
	src: url('fonts/BebasNeue Bold.otf?#iefix') format('opentype'), /* IE6-IE8 */
		 url('fonts/BebasNeue Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Bebas Thin';
	src: url('fonts/BebasNeue Book.otf') format('opentype'); /* IE9 Compat Modes */
	src: url('fonts/BebasNeue Book.otf?#iefix') format('opentype'), /* IE6-IE8 */
		 url('fonts/BebasNeue Book.ttf') format('truetype'), /* Safari, Android, iOS */
}

.dark-text{
	color: #262626 !important;
}

.dark{
	background-color: #262626 !important;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	.hide-on-iphone5-landscape{
		display: none;
	}
}

@media only screen and (max-width: 800px) {
  .hide-on-below-800px {
    display: none !important;
  }
  
  .show-on-below-800px {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .show-on-above-800px {
    display: block !important;
  }
  
  .hide-on-above-800px {
    display: none !important;
  }
}

/* FOOTER */
.lanz-footer{
	background-color: rgba(59,59,59,0.2);
	height: 70vh;
}

.lanz-copyright{
	background-color: #161616 !important;
	min-height: 100px;
}

.lanz-copyright-text{
	color: #575757;
	font-size: 20px;
	margin-top: 5px;
}

.social-links{
	color: #575757;
	font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .center-when-small-dev {
        text-align: center;
    }
}

.work-text-bg{
	background-color: rgba(39,39,39,0.7);
	border-radius: 5px;
	padding: 5px 20px 20px 20px;
	margin-top: 3vh;
	color: #fff;
}

/* PRE LOADER */
.content-hide {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, visibility 0.5s;
}

.content-hide2{
	display: none;
}

.content-show{
    opacity: 1;
    transition: opacity 1s, visibility 1s;
	display: block;
}

::-moz-selection { /* Code for Firefox */
    color: #fff; 
    background: rgba(38,38,38,1);
}

::selection {
    color: #fff; 
    background: rgba(38,38,38,1);
}

.highlight{
    display: inline;
    color: #fff; 
    background: rgba(38,38,38,1);
	word-spacing: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #262626;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.preloader5 {
	display:inline-block;
	font-size:0px;
	padding:0px;

	position: fixed;
	top: 20vh;
	z-index: 10000;
}
.preloader5 span {
   vertical-align:middle;
   border-radius:100%;
   background:#fff;
   display:inline-block;
   width:20px;
   height:20px;
   margin:3px 2px;
   -webkit-animation:preloader5 0.8s linear infinite alternate;
   animation:preloader5 0.8s linear infinite alternate;
}
.preloader5 span:nth-child(1) {
   -webkit-animation-delay:-0.8;
   animation-delay:-0.8s;
}
.preloader5 span:nth-child(2) {
   -webkit-animation-delay:-0.53333s;
   animation-delay:-0.53333s;
}
.preloader5 span:nth-child(3) {
   -webkit-animation-delay:-0.26666s;
   animation-delay:-0.26666s;
}
@keyframes preloader5 {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader5 {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}


/* NAV BAR */
#navbar {
	margin-top: -10vh;
	position: fixed;
	top: 0;
	z-index: 10000;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}

#navbar.shownav{
	margin-top: -1px;
	opacity: 0.95;
}

#navbar.hidenav{
	margin-top: -10vh;
	opacity: 0;
}

.navbar-container{
	margin: 0 auto;
	width: 85%;
}

.nav-dropdown-mobile {
	width: 100% !important;
}

.navicon{
	margin-top: 5px;
}


/* PARALLAX */
.parallax-container {
  height: 300px;
}

/*SKILL BAR */
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skill-container {
    width: 100%; /* Full width */
    background: url('../img/stripe.png') repeat-x 0 0 #ddd;
	margin-top: 10px;
	border-radius: 9px;
}

.skill-title{
    text-align: left; /* Right-align text */
    color: white; /* White text color */
	line-height: 40px;
	margin-left: 10px;
}

.skill-percent {
    text-align: right; /* Right-align text */
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
	opacity: 0;
	
	transition: all 3s ease-in-out;
}

.skill-percent.sp-visible{
	opacity: 1;
	
}

.skill{
	background-color: #262626;
	width: 25%;
	height: 40px;
	border-radius: 3px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: background-color 2s ease-in-out, width 4s; /*for color */
}

.skill:hover{
	background-color: #262626;
}

.skill-cs {
	width: 95%; 
	background-color: #9b59b6;
}

.skill-java {
	width: 85%; 
	background-color: #ea2d2f;
}

.skill-sql {
	width: 90%; 
	background-color: #ffa230;
}

.skill-ps {
	width: 90%; 
	background-color: #2574b6;
}

.skill-vegas {
	width: 80%; 
	background-color: #04a6d5;
}

.skill-html {
	width: 75%; 
	background-color: #4CAF50;
}

.skill-css {
	width: 75%; 
	background-color: #2196F3;
}

.skill-js {
	width: 60%; 
	background-color: #f44336;
}

/* HR Styles */
hr.style1{
	border-top: 1px solid #8c8b8b;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url('../img/hr-12.png') repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

